.container {
    margin: 0 auto;
    max-width: 400px;
    text-align: center;
    padding: 20px;
    font-family: "Roboto", sans-serif;
  }
  
  
  .timer {
    font-size: 72px;
    color: #fe0f7f;
  }
  
  button {
    font-size: 20px;
    padding: 10px 20px;
    margin: 10px;
    color: white;
  
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-transform: uppercase;
    transition: opacity 0.3s ease-in-out;
  }
  
  button:hover {
    opacity: 0.7;
  }
  
  #start {
    background-color: #f80d96;
  }
  
  #stop {
    background-color: #f80d96;
  }
  
  #reset {
    background-color: #f80d96;
  }