body{
    background-color: lightgray;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}
.container{
    padding: 10px 20px;
    background-color: white;
    border-radius: 20px;
    border: 2px;
    box-shadow: 30px 37px 10px 10px gray;
    box-sizing: border-box;
max-width: 600px;
margin: auto;

}
h1{
    font-size: 33px;
    text-align: center;
    font-weight: bold;
}
label{
    margin: 2px 5px;
    
}
input{
    
    margin-bottom: 10px;
    width: 100%;
}
.btn{
    
    transition: background-color .3s;
}
.btn:hover{
background-color: rgb(97, 145, 97);
}
span{
font-weight: bolder;
}