.container-shop{
    margin: 5px ;
    padding: 10px;
}
.container-shop .shop-image{
    margin: 40px;
    padding: 20px;
    margin-left: 100px;
    box-sizing: border-box;
    float: left;
    border: 2px solid black;
    font-size: 25px;
    width: 750px;
    height: 700px;
    transition: all 0.3s linear;
    background: linear-gradient(to bottom,#edeced 50%,#ffffff 50%);
    background-size:100% 200%;
    box-shadow: 5px 5px 2px gray;
}
.shop-image:hover:hover{
    border: 5px solid #e0c7c7;
      box-shadow: 0px 0px 4px 3px #c5c1c1;
      background-position: top;
      
      width: 755px;
      height: 725px;
      font-size: 27px;
      box-shadow: 0px 0px 4px 3px #c5c1c1;

}
.container-shop .shop-image h1{
    color: brown;

}
.container-shop .shop-image p{
    color: black;
}
.container-shop .shop-image .btn-order{
   /* transform:scale(0) ;*/
   margin-top: 20px;
    width: 200px;
    height: 100px;
    background-color: rgb(159, 60, 60);
    color: black;
    font-size: 40px;
    border-radius: 10px;
    box-shadow: 3px 3px 2px rgb(214, 139, 139);
    transition: all 0.2s linear;
cursor: pointer;
}
.container-shop .shop-image .btn-order:hover{
  /* transform: scale(1);*/
    box-shadow: 0px 0px 0px 10px #deb7c3; 
}
